/* css for movies page */

body {
  min-height: 100vh;
  font-family: Inter, Verdana;
  font-size: 16px;
  letter-spacing: 0.01em;
  background-color: #231f20;
  color: #ffffff;
  margin: 0 auto;
}

h1 {
  color: #565051;
  font-size: 2.4rem;
  text-align: center;
  padding: 22px 0 44px 0;
}

.logoGlow {
  width: min(400px, 100%);
  margin: 0 auto;
  text-align: center;
}

.logoImg {
  width: 140px;
  height: auto;
}

.container {
  min-height: 140px;
  background-color: #282323;
  letter-spacing: 0.02em;
  line-height: 1.4;
  padding: 11px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0;
  width: min(1900px, 100%);
  letter-spacing: 0.01em;
  justify-items: center;
  margin: 0 auto;
}

.card {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 22px;
  margin: 0 auto;
}

.imageCard {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}

@media (max-width: 1280px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }

  .imageCard {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

@media (max-width: 1080px) {
h1 {
  font-size: 2rem;
}

.cardsContainer {
  gap: 2rem;
  width: min(900px, 100%);
}

  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .card {
    width: 100%;
    max-width: 330px;
  }

  .imageCard {
    width: 100%;
    max-width: 330px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
h1 {
  font-size: 1.8rem;
}

  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  .card {
    width: 100%;
    max-width: 280px;
  }

  .imageCard {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
h1 {
  font-size: 1.4rem;
}
}




