/* css for movies page */

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  margin: 0 auto;
}

h1 {
  color: #dbdbdb;
  font-size: 2.6rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 3px 0 44px 0;
}

.logoGlow {
  width: min(400px, 100%);
  margin: 0 auto;
  text-align: center;
}

.logoImg {
  width: 140px;
  height: auto;
}

.container {
  min-height: 140px;
  background-color: #393434;
  line-height: 1.4;
  padding: 9px 14px 14px 14px;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 4px 0 rgba(29, 29, 29, 0.2), 0 1px 9px 0 rgba(31, 30, 30, 0.3);
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 0;
  width: min(1700px, 100%);
  justify-items: center;
  margin: 0 auto;
}

.card {
  width: 100%;
  max-width: 380px;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 22px;
  margin: 0 auto;
}

.cardTitle {
  font-size: 1.2rem;
  letter-spacing: 0.02em;
}

.cardInfo {
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.imageCard {
  width: 100%;
  max-width: 380px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
  border-radius: 7px 7px 0 0;
}

@media (max-width: 1280px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }

  .imageCard {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

@media (max-width: 1080px) {
h1 {
  font-size: 2rem;
}

.cardsContainer {
  gap: 2rem;
  width: min(900px, 100%);
}

  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .card {
    width: 100%;
    max-width: 330px;
  }

  .imageCard {
    width: 100%;
    max-width: 330px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
h1 {
  font-size: 1.8rem;
}

  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  .card {
    width: 100%;
    max-width: 280px;
  }

  .imageCard {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
h1 {
  font-size: 1.4rem;
}
}




